
body {
    font-family: sans-serif;
}


/* ALL SECTIONS STYLING */

.section {
    border: 1px solid red;
    height: 100vh;
}

/* CLASS LAYOUTS WE CAN APPLY TO MULTIPLE ELEMENTS */

.section-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.horizontal-flex-layout {
    display: flex;
    flex-direction: row;
}

.justify-space-between {
    justify-content: space-between;
}

.vertical-space-lg {
    margin-top: 20px;
    margin-bottom: 50px;
}

/* GREY BOX */

.grey-box {
    padding: 50px;
    margin-top: 0px;
    background: #F5F5F5;
}


