html {
    scroll-behavior: smooth;
  }

body {
    font-family: sans-serif;
    color:black;
}


/* ALL SECTIONS STYLING */

.section-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.half-layout {
    background-color: #F5F5F5;
    width: 40vw;
    padding: 40px;
}




/* HEADER */

.header-img {
    background-image: url("imagery-folder/agency-website-header.png");
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgba(255, 255, 255, 0.539);
}

.no-bullets {
    list-style-type: none; /* Remove bullets */
}

.text-right-margin {
    margin-right: 35px;
}

.text-right {
    text-align: right;
}

.margin-top-xl {
    margin-top: 40vh;
}

.margin-top-l {
    margin-top: 20vh;
}

.margin-top-m {
    margin-top: 10vh;
}

.text-xl {
    font-size: 70px;
}

/* .fixed-nav {
    position: fixed;
} */

/* CLASS LAYOUTS WE CAN APPLY TO MULTIPLE ELEMENTS */

.center-items {
    text-align: center;
}


.horizontal-flex-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vertical-flex-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

/* ABOUT SECTION */

.center-image {
    padding: 100px;
}

/* TEAM IMAGES */

.team-images {
    height: 50vh;
    padding: 0px 40px 0px 40px;
    border-radius: 50%;
    
}

.image-text {
    width: 250px;
    
}

.dark-background {
    background-color: #F5F5F5;
}

/* FOOTER */

.footer {
    background-image: url("imagery-folder/agency-website-header.png");
    height: 40vh;
    margin: 30px;
    padding: 30px 30px 0px 30px;
    color: white;
}



